<div class="px-4 px-lg-0">
    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                    <!-- Shopping cart table -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 px-3 text-uppercase">Producto</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Cantidad</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Remover</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pro of this.shoopPro">
                                    <th scope="row" class="border-0">
                                        <div class="p-2">
                                            <img
                                                src="{{pro.info.v_nombreimagen}}"
                                                alt="" width="70"
                                                class="img-fluid rounded
                                                shadow-sm">
                                            <div class="ml-3 d-inline-block
                                                align-middle">
                                                <h5 class="mb-0"> <a href="#"
                                                        class="text-dark
                                                        d-inline-block
                                                        align-middle">{{pro.info.c_nombre}}</a></h5>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="border-0 align-middle"><strong>{{pro.cantidad}}</strong></td>
                                    <td class="border-0 align-middle"><a
                                            href="#" class="text-dark"><i
                                                class="fa fa-trash"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End -->
                    </div>
                </div>
                <div class="row py-5 p-4 bg-white rounded shadow-sm">
                    <div class="col-lg-6">
                        <!--
                        <div class="bg-light rounded-pill px-4 py-3
                            text-uppercase font-weight-bold">Selecciona un cliente</div>
                        <div class="p-4">
                            <p class="font-italic mb-4">Selecciona el cliente que va a recibir esta orden</p>
                            <div class="input-group mb-4 border rounded-pill
                                p-2">
                                
                                    <select [(ngModel)]="identificacion" (change)="capturar()" class="form-control border-0">
                                        <option value="0">Selecciona una opción</option>
                                        <option *ngFor="let cli of this.clientes" [value]="cli.identificacion">
                                            {{cli.nombre}}
                                        </option>
                                    </select>
                            </div>
                        </div>
                        -->
                        <div class="bg-light rounded-pill px-4 py-3
                            text-uppercase font-weight-bold">Selecciona un metodo pago</div>
                        <div class="p-4">
                            <p class="font-italic mb-4">Selecciona el metodo que desea utilizar</p>
                            <div class="input-group mb-4 border rounded-pill
                                p-2">
                                    <select [(ngModel)]="metodoPago" (change)="capturarMetodo()" class="form-control border-0">
                                        <option value="0">Selecciona una opción</option>
                                        <option value="TC">Tarjeta de credito</option>
                                        <option value="PSE">PSE</option>
                                    </select>
                            </div>
                        </div>
                        <div class="bg-light rounded-pill px-4 py-3
                            text-uppercase font-weight-bold">Recomendación de envio</div>
                        <div class="p-4">
                            <p class="font-italic mb-4">Si tiene alguna información para el vendedor,
                                puede dejarla en el cuadro a continuación</p>
                            <textarea name="" cols="30" rows="2"
                                class="form-control"></textarea>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="bg-light rounded-pill px-4 py-3
                            text-uppercase font-weight-bold">Resumen de orden
                        </div>
                        <div class="p-4">
                            <ul class="list-unstyled mb-4">
                                <li class="d-flex justify-content-between py-3
                                    border-bottom"><strong class="text-muted">Subtotal
                                    </strong><strong>${{sub}}</strong></li>
                                <li class="d-flex justify-content-between py-3
                                    border-bottom"><strong class="text-muted">Gastos de envio</strong><strong>$free</strong></li>
                                <li class="d-flex justify-content-between py-3
                                    border-bottom"><strong class="text-muted">Tarifa</strong><strong>${{tax}}</strong></li>
                                <li class="d-flex justify-content-between py-3
                                    border-bottom"><strong class="text-muted">Total</strong>
                                    <h5 class="font-weight-bold">${{total}}</h5>
                                </li>
                            </ul><a class="btn btn-dark rounded-pill
                                py-2 btn-block" (click)="onPay($event,doc)">Pasar a pagar</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
