<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Multinivel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarsExample02" aria-controls="navbarsExample02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/productos">productos <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/registro">registro <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/regisCli">registro Cli <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/Car"><img src="assets\cart.png" alt="carrito"
                        width="30px" height="30px" style="margin-right: 1rem;"></a>
            </li>
            <li *ngIf="logged_in">
                <button class="btn btn-danger" (click)="closeSesion()"
                    routerLink="/">Cerrar Sesión</button>
            </li>
            <li *ngIf="!logged_in">
                <a class="nav-link" routerLink="/login">login</a>
            </li>
        </ul>
    </div>
</nav>