<div *ngFor="let pro of this.productos">
    <div *ngIf="pro.cantidad>0" style="margin: 1rem; ">
        <div class="card card-product" style="width: 18rem; margin: 0;">
            <img class="img-wrap" src="assets\office.jpg" alt="image register" height="60%" width="100%">
            <div class="card-body">
                <h5 class="card-title">{{pro.nombreproducto}}</h5>
                <div class="price-wrap h5">
                    <span class="price-new">${{pro.precio}}</span>
                </div>
                <p class="card-text">disponibles = {{pro.cantidad}}</p>
                <form (submit)="onSubmit(cantidad.value)">
                    <input #cantidad type="number" class="form-control" placeholder="cantidad">
                    <button type="submit" class="btn btn-lg btn-primary btn-block" [value]="pro.idproductoregion" (click)="onAdd($event,pro.inventario,cantidad.value)">Añadir al carrito</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--
<h2>{{total}}</h2>
<button type="submit" class="btn btn-lg btn-primary btn-block" (click)="onPay($event,'PSE')">PSE</button>
<button type="submit" class="btn btn-lg btn-primary btn-block" (click)="onPay($event,'TC')">TC</button>-->


