<div class="container">
    <img class="thumbnail" src="assets\banner.jpg" alt="image register" height="60%" width="100%">
    <div class="row">
        <div class="col-lg-6 col-md-6 mb-4">
            <div class="card text-center"  style="height: 25rem;" >
                <img class="card-img-top" src="assets\office.jpg" alt="image register" height="60%" width="100%">
                <div class="card-body">
                    <h5 class="card-title">Registrar cliente</h5>
                    <p class="card-text">Aqui puedes registrar un nuevo cliente </p>
                    <a class="btn btn-primary center-block" routerLink="/regisCli">registro</a>
                </div> 
            </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-4">
                <div class="card text-center" style="height: 25rem;" >
                    <img class="card-img-top" src="assets\background.png" alt="image register" height="60%" width="100%">
                    <div class="card-body text-center">
                        <h5 class="card-title">Registrar representante</h5>
                        <p class="card-text">Aqui puedes registrar un nuevo representante de ventas </p>
                        <a class="btn btn-primary" routerLink="/registro">registro</a>
                    </div> 
                </div>
        </div>
    </div>
</div>
